/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

/* ===== Global ====== */
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'LimeLight';

    /* for demo. Delete later */
    padding: 2rem 0;
} 
:root {
    --ff-primary: Heebo, sans-serif;
    --ff-secondary: Bungee, cursive;
    --ff-accent: Bungee Shade, cursive;
  }
  
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--ff-secondary);
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
    

    /* Box sizing rules */

    body {
    background-color: rgb(85, 128, 158);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    font-family: var(--ff-primary);
    line-height: 1.5;
    font-size: 1rem;
        }

    a:not([class]) {
        text-decoration-skip-ink: auto;
    }
    /* to make images easier to work with */
        img, 
    picture {
        max-width: 100%;
        display: block;
    }

    input,
    button,
    textarea,
    select {
  font: inherit;
      }

      @meda (prefers-reduced-motion: reduce) {
        html:focus-within {
            scroll-behaviour: auto;
        }

        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behaviour: auto !important;
        }
      }
      
      .container {
        max-width: 100rem;
        margin-inline: auto;
        padding-inline: 2rem;
      }
      
      .services-grid {
        display: grid;
        gap: 0.125rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

      }
      
      .card {
        border: 3px solid green;
        aspect-ratio: 1 / 1.5;
      }

      .card__content {
        background: white;
        align-self: end;
        margin: 0.5rem 0.5rem 1 rem 2rem;
        padding: 0.5rem;
        box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
      }

      .card__title {
        font-size: 1.25rem;
        line-height: 1.1;
        color: firebrick;
      }

      .card__info {
        font-size: 1rem;
      }
      
      .card__img {
        width: 100%;
        aspect-ratio: 1 / 1.25;
        object-fit: cover;
      }
      
      /*.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
     width: 400px;
     background-color: grey;
     padding-top: 5px;
     border-radius: 8px;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
     overflow: hidden;
    
    } ./
    
    /*
    .card img {
     border: 0;
     border-radius: 8px;   
     width: 380px;
     height: 400px;
     object-fit: cover;
    } */