/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

/* ===== Global ====== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'LimeLight';
    
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
   
}

.active {
    color: goldenrod;
    text-decoration: underline;
    font-weight: bold;
}

body , html {
    overflow-x: hidden;
}

.logo {
    border: 2px solid #fff;
    /*border-radius: 10px;*/
    border-bottom-left-radius: 20px;
    border-top-right-radius: 10px;
    margin-left: 15px;
    background-color: #4c1c24cc;
    padding: 5px 20px;
}

/*Navbar*/
.navbar {
    /*background: url('f2d_images/Dancing_Shoes_II_ jpeg.jpg'); */
    background: rgba(206, 204, 200, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    /* background-color: #49497e; */
}

.nav-links {
    display: flex;
    align-items: center;
    
}

.nav-links li a {
    margin: 0 30px;
    color: #fff;
}
li:hover {
    color: rgb(196, 134, 19);
    cursor: pointer;
}
.nav-links a:hover {
    cursor: pointer;
    color: rgb(196, 134, 19);
}
.name{
    color: orange;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url('./f2d_images/art_deco_br_4.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
    color: rgb(193, 111, 24,);

}
.dance-shoes {
    
    justify-content: center;
    border: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.header-content h2 {
    font-size: 6vmin;

}

.line {
    width: 150px;
    height: 4px;
    background: rgb(244, 27, 132);
    margin: 10px auto;
    border-radius: 5px;
    
}
.header-content h1 {
    font-size: 8vmin;
    margin-top: 50px;
    margin-bottom: 90px;
}
.ctn {
    padding: 8px 15px;
    background-color: #4c1c24;
    color: whitesmoke;
    border-radius: 30px;

}
.menu-btn, .close-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* Events and Lessons */

section {
    width: 80%;
    margin: 80px auto;
   
}
.title {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;

}

.row {
   display: flex; 
   align-items: center;
   width: 100%;
   justify-content: space-between;
  
}

/*img {
    display: block;
    max-width: 100%;
    height: auto;
  }*/

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.classes .row {
    margin-top: 50px;
}
.row .col img {
    width: 80%;
}

h4 {
   font-size: 3vmin; 
   color: #484872;
   margin: 20px auto;
}

p {
    color: #7c7c7c;
    padding: 0 40px;
}
.classes .ctn {
    margin-top: 30px;
}
.about {
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('./f2d_images/2_Southampton_ Class.JPG'); 
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   
}
.about-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-content h1 {
    font-size: 7vmin;
   
}
.about-content .line {
    margin-bottom: 50px;
}

.about-content p {
    color: rgb(221,221,221);
}
.about-content .ctn {
    margin-top: 40px;
}
.content-col {
    width: 40%;
}
.image-col {
    width: 60%;
}
.classes .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;

}
.classes .row .col {
    width: 50%;
}
.image-gallery img {
    max-width: 300px;
    margin: 10px;
}
.content-col h1 {
    font-size: 7vmin;
    color: #484872;
}
.content-col .line {
    margin-left: -1px;
}
.content-col p {
    padding: 0;
    margin: 30px auto;
}

.content-col .ctn {
    margin-left: -100px;
}
.footer {
    color: whitesmoke;
    margin: 20px auto;

}



/* Mobile device */
@media only screen and (max-width:850px) {
 .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
        position: relative;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
        border: 2px solid #fff;
     
    }
   .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .nav-links a:hover {
        color: rgb(196, 134, 19);
        cursor: pointer;
    }
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
       
        
    }
    .nav-links li {
        margin: 30px auto;
    }
    /* Events */
        /* explore */
        .row {
            flex-direction: column;
        }
        .row .col {
            margin: 20px auto;
        }
        .col img {
            max-width: 90%;
        }
        .about-content {
            width: 100%;
        }
        .classes .col {
            width: 100%;
        }
        .image-gallery {
            justify-content: center;
            align-items: center;
        }
        .image-gallery img {
            width: 90%;
        }
        .footer {
            padding: 10px;
        }

/* Animations */
img {
    transition: transform .3 ease;
}
img:hover {
    transform: scale(1.1);
}
.ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px #00000056;
}
li:hover {
    color: rgb(196, 134, 19);
    cursor: pointer;
}
.nav-links a:hover {
    cursor: pointer;
    color: rgb(196, 134, 19);
}

}